<div id="main-content">
  <div id="main-search-container">
    <p id="main-description">Seach for movies. Click on one to see availability.</p>
    <form id="search-form">
      <div id="search-container">
        <img id="search-image" src="search.svg" alt="search icon">
        <input id="search-field" type="text" placeholder="">
      </div><!--
      --><input id="search-submit" type="submit">
    </form>
  </div>
  <div id="main-title">
    <h1 class="elegantshadow"><span class="">MOVIE</span> FINDER</h1>
  </div>
  <div id="search-results"></div>
  <div id="availability-results"></div>
  <div id="loading">
    <img src="loading.gif">
  </div>
</div>